.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-bg);
  padding-bottom: 10px;
}

.postBody {
  flex: 1;
  padding: 10px;
}

.postAvatar{
    padding: 20px;
}

.postBody img {
  border-radius: 20px;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.postHeaderText h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.postHeaderSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
  padding-left: 5px;
}

.postHeaderDescription {
  margin-bottom: 10px;
  font-size: 15px;
}
